header {
    background-color: darkblue;
    color: antiquewhite;
    text-align: center;
    font-size: larger;
  }
  main {
    color: lightgrey;
  }
  body {
    background-image: url(record.png);
    background-repeat: inherit;
  }