header {
    background-color: darkblue;
    color: antiquewhite;
    text-align: center;
    font-size: larger;
  }
  main {
    background-color: black;
    color: lightgrey;
    padding: 1em;
    text-align: center;
    font-size: larger;
  }
  body {
    background-image: url(record.png);
    background-repeat: inherit;
    margin: 0;
  }